.butAction {
    &.accept {
        background-color: green;
    }

    &.reject {
        background-color: darkred;
    }
}

.accept-ticket-modal,
.reject-ticket-modal {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 12px;
}

.accept-ticket-modal>span:first-child,
.reject-ticket-modal>span:first-child {
    max-width: 300px;
    text-align: center;
}

.accept-ticket-modal textarea,
.reject-ticket-modal textarea {
    width: 200px;
    height: 100px;
}

.rating-container {
    display: flex;
    align-items: center;

    gap: 6px;
}

.rating-item {
    font-size: 24pt;

    color: lightgray;

    border-radius: 100%;
}

.rating-item:not(.static):hover {
    cursor: pointer;
}

.rating-item.active {
    color: gold !important;
}

.butStatus .badge-status8 {
    display: none;
}